.Pagination {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.Pagination-link {
  text-decoration: none;
  color: inherit;
  padding: 2px 3px 0px 3px;
  min-width: 14px;
  display: inline-block;
  box-sizing: content-box;

  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;

  cursor: pointer;
}

.Pagination-link:hover:not(.link-active) {
  background-color: rgb(225, 225, 225);
}
.link-active {
  background-color: rgb(0, 135, 233);
  color: white;
}

.Pagination-dots {
  cursor: default;
}
