.List * {
  font-family: Arial;
  font-weight: 400;
  line-height: 18px;
}
.List > :first-child {
  border-top: 1px dashed #ccc;
}

.List-basket * {
  font-family: Arial;
  font-weight: 400;
  line-height: 18px;
}

/* .List-basket {
  height: 350px;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 71px 0px 68px 0px;
} */

/* .List-basket-box {
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 100%;
}
.List-basket-box::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
} */
.List-basket {
  /* height: 350px; */
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 71px 0px 68px 0px;
}

.List-basket-box {
  max-height: 235px;
  min-height: 150px;
  overflow: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
.List-basket-box::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
}

.List-basket-box > :first-child:not(.List-empty-basket) {
  border-top: 1px dashed #ccc;
}

.List-empty-basket {
  text-align: center;
}
.List-empty-basket p {
  font-family: Arial;
  font-size: 30px;
  font-weight: 600;
  line-height: 21px;
}

.List-item {
  border-bottom: 1px dashed #ccc;
}

.List-total {
}

.price {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 17px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}
.price-empty-basket {
  text-align: center;
  padding: 20px;
  margin: auto 0;

  font-weight: 700;
  font-family: Arial;
  font-size: 26px;
  font-weight: 700;
  line-height: 21px;
}

.price-title {
  padding: 0px 10px;

  font-weight: 700;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.price-total {
  padding: 0px 91px 0px 0px;
  min-width: 94px;
  text-align: right;

  font-weight: 700;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
