.Select {
  font-size: 16px;
  padding: 3px 2px 2px;
}
<<<<<<< HEAD

optgroup {
  margin: 0;
  padding: 0;
  border: none;
}

optgroup option {
  margin: 0;
}
=======
>>>>>>> 7ce52deda52efb25705213c983ac6c6f511ec300
