<<<<<<< HEAD
Head {
=======
.Head {
>>>>>>> e76a78bcc0df616abef94f7e147e1b037be5aec9
  height: 80px;
  background: #f5f5f5;
}

<<<<<<< HEAD
Head h1 {
=======
.Head h1 {
>>>>>>> e76a78bcc0df616abef94f7e147e1b037be5aec9
  margin: 0;
  padding: 20px 20px 10px;
}
