.AuthForm {
  white-space: wrap;
  max-width: 203px;
  padding: 20px;
  font-family: Arial;
}

.AuthForm h2 {
  margin: 22px 0px 17px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
}
.AuthForm label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  display: inline-block;
}

.AuthForm-box input {
  height: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;

  border: 1px solid #767676;
}
.AuthForm-box > :not(:last-child) {
  margin-bottom: 20px;
}

.AuthForm button {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.AuthForm-error {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #ff0000;
}
