.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  transition: background-color 1s;
}
button {
  font-size: 13px !important;
}
.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  display: flex;
  align-items: center;
  padding: 4px;
  white-space: nowrap;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 20px;
}

.Item-actions-basket {
  display: flex;
}
.Item-number {
  white-space: nowrap;
  margin-left: 62px;

  display: flex;
  align-items: center;
}
.Item-delete-box {
  display: flex;
  align-items: center;
  margin-left: 24px;

  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.Item-control {
  padding-left: 7px;
  padding-right: 7px;
}
