.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls button {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}
