.Modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;

  background-color: #000000b2;
}

.Modal-panel {
  max-width: 960px;
  min-height: 407px;
  margin: 9% auto;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
}
