p {
  margin: 0;
}
.CommentsRender {
  display: flex;
  flex-direction: column;
}

.CommentsRender > * {
  margin-bottom: 30px;
}

.CommentsRender-box {
}

.CommentsRender-box > :not(:last-child) {
  margin-bottom: 10px;
}
.CommentsRender-title {
  display: flex;
  gap: 10px;
}

.title {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.date {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  color: #666666;
}

.CommentsRender-text {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.CommentsRender-answer {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;

  color: #0087e9;
}
